# Angular

Angular/node_modules
Angular/package-lock.json
Angular/app/public/bower_components/
Angular/app/public/fonts
Angular/app/public/.tmp/
Angular/.tmp
Angular/*.sublime-project
Angular/*.sublime-workspace
Angular/npm-debug.log
Angular/.DS_Store
Angular/.idea


# API server
API/node_modules
API/package-lock.json