@font-face {
    font-family: Muli;
    src: url(/fonts/Muli/Muli-Regular.ttf);
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;	
	
	font-family : Muli;
}

main {
	flex: 1 0 auto;
}

.page-footer{
	/*position: fixed;*/
	bottom: 0;
	width: 100%;
}



.logo{
	margin-left : 20px;
	margin-top : 10px;
	height : 40px;
}


.multiline{
	white-space: pre-line;
}

/*******Enigmes*********/

/* Merci ce lien : https://codepen.io/mike-north/pen/MwVoYp */

.cards-container {
	column-break-inside: avoid;
}
.cards-container .enigme {
	display: inline-block;
	overflow: visible;
	width:100%;
}

@media only screen and (max-width: 600px) {
	.cards-container {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
@media only screen and (min-width: 601px) {
	.cards-container {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
/@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
} 


/*******Profil*********/

.sidebar{
	width : 100%;
}

/* The navigation menu links */
.sidebar a {
	padding : 20px;
	text-decoration: none;
	font-size: 17px;
	color: #FFFFFF;
	display: block;
	background-color : #6a1b9a;
	width : 100%;
}

.sidebar a:hover {
	color: white;
	background-color: #ba68c8;
}

i.profile-icon {
    color: #ba68c8;
	margin-top: 15px;
	font-size : 10rem;
}

#name{
	text-shadow: 2px 0px 9px #777;
	padding-top: 20px;
	font-size: 24px;
}



/****INDEX****/
.info-enigme{
	font-size: 12px;
	margin-bottom : 20px;
	margin-left : 30px;
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #ba68c8 ; /* purple lighten-2 */
}

.card-link{
	color : #6a1b9a !important; /* purple darken-3 */
}

#newEnigma{ /* bouton rond */
	position : fixed;
	bottom : 70px;
	right : 50px;
}


/****INSCRIPTION***/

.card-action{
	color : green;
	background-color : pink;
}

